.Contact {
}
.Circle--BG {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.main__circle {
  position: absolute;
  border-radius: 50%;
  overflow: hidden !important;
}

.main__circle:nth-child(3) {
  left: 20%;
  top: 229px;
  z-index: 2;
  width: 128px;
  height: 128px;
  background: var(--primary);
}

.main__circle:nth-child(4) {
  left: 5%;
  bottom: 253px;
  width: 32px;
  height: 32px;
  background: var(--primary);
}

.main__circle:nth-child(5) {
  right: calc(50% - 250px);
  bottom: -90px;
  z-index: 5;
  width: 180px;
  height: 180px;
  background: #f8a68c;
}

.main__circle:nth-child(6) {
  top: -98px;
  right: calc(50% - 1330px);
  width: 1220px;
  height: 1220px;
  background: whitesmoke;
  overflow-x: hidden !important;
}

.Contact--Section1 {
  padding: 10rem 0;
}
.Contact--Logo--Container {
  padding: 20% 0 0 0;
  max-width: 500px;
}
.Contact--Card {
  overflow: hidden;
  padding: 3rem 3rem 0 0;
  box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: var(--borderRadius);
  margin: 0 auto;
  transform: translate(30px, -30px);
  background: white;
}
.pattern-dots {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.pattern-dots-img {
  transform: translate(30px, -30px);
}
.Contact--Details {
  margin-top: 3rem;
}
.Contact--Details--Item {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid var(--lightGrey);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: var(--primary);
}

.Contact--Details--Item svg {
  margin-right: 1.5rem;
  color: var(--primary);
}
.Form--SubmitButton {
  margin: 0 auto;
}

@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .Contact--Section1--Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .pattern-dots-img {
    transform: translate(10px, -10px);
  }
  .Contact--Card {
    box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11),
      0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background: #fff;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 1rem 2rem 0 0;
  }
}
