.FooterNote {
  display: block;
  height: auto;
  font-size: 12px;
  background: inherit;
  color: white;
  padding: 2rem 0;
  bottom: 0 !important;
  width: 100%;
}

.FooterNote a {
  color: white;
  text-decoration: none;
}

.FooterNote-Container {
  bottom: 0 !important;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 2rem;
  max-width: 800px;
  width: 80%;
  margin: 2rem;
  text-align: center;
  box-shadow: var(--boxShadow);
}
.FooterNote-li {
  color: white;
  transition: ease-in-out all 0.3s;
}
.FooterNote-li:hover,
.FooterNote-li:hover {
  color: var(--primary);
}
