.Nav {
  background: transparent;
  position: absolute;
  top: 0rem;
  z-index: 99;
  width: 100%;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 10rem;
  font-family: var(--font-primary);
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Nav .Logo {
  margin-right: 1rem;
  position: relative;
}

.Nav--MenuButton {
  display: none !important;
}

.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 800;
  font-size: 17px;
  line-height: 30px;
  transition: all ease 0.2s;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
}
.NavLink:hover {
  opacity: 0.5;
}
.NavLink:focus {
  color: var(--primary);
}
.NavLink.active {
  color: var(--primary);
}
.NavLink:hover .Nav-li {
  opacity: 0.5;
}
.NavLink .Nav-li:hover {
  opacity: 1;
}
.Nav--Group {
  position: relative;
  cursor: pointer;
}

.Nav--GroupParent {
  padding-right: 3rem;
}

.Nav--GroupParent::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1rem;
  border-bottom: 2px solid var(--darkGrey);
  border-right: 2px solid var(--darkGrey);
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  transition: 0.3s ease all;
  transform: translateY(-50%) rotate(45deg);
}

.Nav--GroupLinks {
  position: absolute;
  left: 0;
  right: 0;
  width: 50vw;
  background: var(--lightGrey);
  margin: 2rem auto;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
  border-radius: var(--borderRadius);
  box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}

.Nav--Group.active .Nav--GroupParent::after {
  top: calc(50% + 0.2rem);
  transform: translateY(-50%) rotate(-135deg);
}

.Nav--GroupLink {
  display: block;
  position: relative;
  width: 15rem;
}
.Nav--Mobile {
  display: none;
}
@media (max-width: 600px) {
  .Nav {
    background: transparent;
    position: absolute;
    top: 0rem;
    z-index: 2;
    width: 100%;
  }
  .Nav--Container {
    display: flex;
    align-items: center;
    height: 7rem;
    font-family: var(--font-secondary);
  }
  .Nav--MenuButton {
    position: fixed;
    top: 0;
    right: 0;
    display: block !important;
    margin-left: auto;
    z-index: 1;
    color: black;
    animation: 0.3s ease-out;
    margin: 0.5rem;
    padding: 1.5rem;
    background: white;
    border-radius: 5px !important;
    transition: ease all 0.3s;
    z-index: 9999;
  }
  .Nav--MenuButton:hover {
    box-shadow: 5px 5px 5px rgba(50, 50, 93, 0.11),
      0 1px 3px rgba(0, 0, 0, 0.08);
  }
  .Nav .Logo {
    z-index: 1;
  }
  .Nav--Mobile {
    display: block;
    color: #000 !important;
    fill: white !important;
    margin: 0 auto;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--lightGrey);
    background-attachment: fixed;
    background-size: cover;
    animation: Nav--Links 0.2s ease;
  }
  .NavLink {
    padding: 0.5rem 1rem;
    display: block;
    font-weight: 800;
    font-size: 14px;
    line-height: 1;
    transition: all ease 0.2s;
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
  }
  .NavLink:hover {
    opacity: 0.5;
    color: var(--primary);
  }
  .NavLink:focus {
    color: var(--primary);
  }
  .NavLink.active {
    color: var(--primary);
  }
  .NavLink:hover .Nav-li {
    opacity: 0.5;
  }
  .NavLink .Nav-li:hover {
    opacity: 1;
  }
  .Nav--Group {
    position: relative;
    cursor: pointer;
  }

  .Nav--GroupParent {
    padding-right: 3rem;
  }
  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .Nav .NavLink:nth-of-type(1) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.67;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.8s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.9s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 1s;
  }

  .Nav--GroupLinks {
    position: relative;
    text-align: center;
  }

  .Nav--GroupLinks .NavLink {
    font-size: 1.5rem;
    width: auto;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}
