.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  font-weight: var(--font-secondary);
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}

.box {
  position: relative;
}
.box-entered {
  color: red;
}
.box-entering {
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0% {
    color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    color: red;
    left: 0px;
    top: 0px;
  }
}
