.SecondaryHeader {
  color: var(--secondary);
  padding: 10rem 0;
  height: 80vh;
}

.SecondaryHeader .BackgroundImage {
  opacity: 0.1;
  background-position: top center;
  border-radius: var(--borderRadius);
}

.SecondaryHeader-left {
  padding: 15rem 0;
  text-align: left;
}

.SecondaryHeader--Logo {
  width: 300px;
}

.SecondaryHeader--BG {
  transform: rotate3d(0.1, -0.866, 0, 15deg) rotate(1deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  background-image: linear-gradient(-180deg, var(--primary) 100%, #5acfcc 0);
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.SecondaryHeader--Title {
  font-size: 8rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.SecondaryHeader--Subtitle {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0;
  text-transform: none;
  text-align: center;
  font-family: var(--font-secondary);
}

.SecondaryHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .SecondaryHeader {
    padding: 5rem 0;
    height: 70vh;
  }
  .SecondaryHeader-left {
    padding: 5rem 0;
  }
  .SecondaryHeader--BG {
    margin: 3rem 0 0 0;
  }
  .SecondaryHeader--Title {
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }
}
